keystore "kim.keystore";

grant SignedBy "terry" {

  permission Lab7 "*", signedBy "chris";
};


grant {
  permission java.util.PropertyPermission "user.dir", "read", signedBy "chris";
  permission java.security.AllPermission, signedBy "chris";

  permission Lab7 "*", signedBy "chris";
};

